.generate-button {
  position: fixed;
  bottom: 80px;
  left: 50px;
  z-index: 99999;
  width: 75px;
  height: 75px;
}

.generate-button img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.whatsapp-link {
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

.whatsapp-link img {
  width: 100%;
  height: 100%;
}
